/*START RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/


/*Style*/
body {
	/*font: ukuran/line_height jenis_huruf, tipe_jenis_huruf*/
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	/*#333 adalah bentuk sederhana dari
	#333333 karena semua angkanya sama*/
	color: #333;
	/*background-image: url(folder/nama file dan ekstensinya)*/
	background-image: url(img/email-pattern.png);
	/*agar background tidak ikut ke scroll*/
	background-attachment: fixed;
}

.container {
	width: 800px;
	margin: auto;
	background-color: #fff;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

/*cara baca : class judul di dalam class header*/
.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	/*untuk menghilangkan garis bawah pada link*/
	text-decoration: none;
	color: salmon;
	padding: 3px;
}

/*a:hover ada di materi pseudo class*/
/*fungsi a:hover adalah ketika mouse berada diatas link*/
.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 250px;
	/*background-image: url(folder/nama file dan ekstensinya)*/
	background-image: url(img/hero.png);
	/*agar gambar sesuai dengan width parents*/
	background-size: cover;
	/*background-position: horizontal vertical;*/
	/*default background-position: 0 0;*/
	background-position: 0 -180px;
	/*border: width style color*/
	border-top: 5px solid salmon;
	border-bottom: 5px solid lightskyblue;
}

.content {
	padding: 20px;
}

.content h2 {
	font-size: 28px;
	font-weight: bold;
}

.content .penulis {
	font-size: 11px;
	margin-top: -5px;
}

.content .penulis a {
	color: salmon;
	text-decoration: none;
}

.content p {
	margin-bottom: 20px;
	font-size: 14px;
}

.footer {
	background-color: #333;
	padding: 10px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}